<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stock.stockproject.dao.HistodyDAO"><!--namespace를 통해 NewsDAO 연결합니다. -->
    <select id="getHistory"  parameterType="stock.stockproject.dto.HistoryDTO" resultType="stock.stockproject.dto.HistoryDTO"><!-- getHistory()메서드를 호출하면 실행할 SELECT문,
						NewsDTO 객체를 파라미터로 받아, HistoryDTO 반환-->
        SELECT * FROM NewsHistory
        <if test='company != null and company != ""'><!-- 만약 파라미터에 company 있다면 SQL문에 WHERE절을 추가 -->
            WHERE Company = #{company}
        </if>
    </select>
</mapper>
